<section>
  <div class="login-header">
    <img src="./assets/img/logo.png" alt="logo" />
    <div class="register-wrapper">
      <span>New to DABubble?</span>
      <a class="link" [routerLink]="'/sign-up'">Signup</a>
    </div>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="submitFomrEmailAndPassword()">
    <h2>Announcement</h2>
    <p>
      We recommend that you use the email address you use at work
      use.
    </p>
    <div class="input-with-error-wrapper">
      <div class="input-wrapper">
        <img src="./assets/img/mail.svg" alt="mail-icon" />
        <input
          type="email"
          placeholder="beispielname@email.com"
          formControlName="email"
        />
      </div>
      <span
        *ngIf="
          email.touched &&
          (email.hasError('required') || email.hasError('email'))
        "
        >Unfortunately, this email address is invalid.</span
      >
    </div>
    <div class="input-with-error-wrapper">
      <div class="input-wrapper">
        <img src="./assets/img/lock.svg" alt="lock-icon" />
        <input
          type="password"
          placeholder="Password"
          formControlName="password"
        />
      </div>
      <span
        *ngIf="
          password.touched &&
          (password.hasError('required') || password.hasError('password'))
        "
        >Please enter a password.
      </span>
      <span *ngIf="password.hasError('minlength')">Minimum 5 characters required</span>
    </div>
    <a [routerLink]="'/forgot-password'">Forgot Password?</a>
    <div class="seperator-wrapper">
      <div></div>
      <span class="seperator">Or</span>
      <div></div>
    </div>
    <button type="button" (click)="loginWithGoogle()" class="button-with-icon">
      <img src="./assets/img/google.svg" alt="google-logo" />Sign in with Google
    </button>
    <div class="login-button-wrapper">
      <button type="submit" class="login-button">Login</button>
      <button type="button" (click)="guestLogin()" class="guest-login-button">
        Guest login
      </button>
    </div>
  </form>
  <!-- <div class="legal-wrapper">
    <a class="link">Impressum</a>
    <a class="link">Datenschutz</a>
  </div> -->
</section>
